@charset "utf-8";
body, h1, h2, h3, h4, h5, div, p, img, form, span, ul, li, table, tr, td,input{
	margin: 0;
	padding: 0;
	border: 0;
	font-family:"Arial","Microsoft YaHei","黑体","宋体",sans-serif;
}
body {
	margin: 0px auto 5px;
}
input{
	border: #d8d8d8 1px solid;
}
.header, .main, .footer {
	display:block;
	margin: 10px auto 0;
	width: 1000px;
}
.main{min-height:600px;}
.header {
	width:1000px;
	height: 75px;
	margin:auto ;
}
a {
	color: #000;
	text-decoration: none;
}
a:hover {
	color: red;
	text-decoration: underline;
}
.clear {
	clear: both;
}
.clearfix:after {
    content: “.”;
	clear: both;
	height: 0;
	visibility: hidden;
	display: block;
}
.line-bottom {
	border-bottom: thin dashed #0066cc;
}
/***header css ***/
.span1, .span2 {
	display: inline-block;
	float: left;
	overflow: hidden;
}
.span1 {
	width: 25%;
}
.span2 {
	width: 75%;
	height: 80px;
}
.logo {
	width: 180px;
	height: 80px;
	float: left;
}
.logo img {
	width: 210px;
	height: 70px;
	overflow: hidden;
}
h2 {
	text-align: left;
}
.mainNav {
	margin-top: 20px;
	height: 36px;
	width: 750px;
}
.mainNav ul {
	list-style-type: none;
}
.mainNav ul li {
	float: left
}
.mainNav ul li {
	font-size: 24px;
	text-height: 24px;
	text-align: center;
	margin: 10px 23px;
}
/***header css end***/
.mid {
	text-align: center;
	align: center;
}
.right {
	text-align: right;
}
.title {
	/***
	height: 24px;
	line-height: 24px;  **/
	color: #3164af;
	font-family: "Microsoft YaHei";
	font-size: 24px;
	font-weight: normal;
	text-align: left;
	margin: 5px 0;
	border-bottom: #D6D6D8 1px solid;
}
.title1 {
	color: #d8d8d8;
	font-size: 18px
}
/*****
#submit, #reset {
	height: 40px;
	border: grey 1px solid;
	background: #FF3D40;
	font-size: 24px;
	font-weight: bold;
}   *****/
.submitBtn {
	min-width:120px;
	text-align: center;
	font-size: 18px;
	color: #ffffff;
	padding: 3px 10px;
	/*****
	background: -moz-linear-gradient(  top,  #ff9c9c 0%,  #ff0000);
	background: -webkit-gradient(  linear, left top, left bottom,  from(#ff9c9c),  to(#ff0000));  *****/
	background:#DE4949;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid #ffffff;
}
.normal-font {
	font-size: 24px;
}
.no-border {
	border: none;
}
.right{
	float:right;
	}
input{
	border:1px solid grey;
	height:28px;		
}